<h2>Adding a restaurant</h2>
<h3>Register a restaurant:</h3>
<h2 style="color:red;" *ngIf="exs">{{exs.errors['cuisine']['message']}}<br>{{exs.errors['restaurant']['message']}}</h2>
<form (submit)="onsubmit()">
  <label for="name">Restaurant: 
    <input 
    name="restaurant" 
    type="text" 
    [(ngModel)]="newrestaurant['restaurant']" 
    placeholder="Name must be 3 long" 
    required 
    minlength=3
    #restaurant="ngModel"> {{ newrestaurant['restaurant'] | json }}
  </label><br>
    <label for="name">Cuisine: <input 
    name="cuisine" 
    type="text" 
    [(ngModel)]="newrestaurant['cuisine']" 
    placeholder="Cuisine must be 3 long" 
    required 
    minlength=10
    #cuisine="ngModel"> {{ newrestaurant['cuisine'] | json }}</label>
     <p><input type="submit"></p> <!-- add ngIf="message.valid"  for both of them-->
</form>
<button  [routerLink]="['/Dashboard']">Cancel</button>