*{
    margin:0px;
    padding:0px;
}
input{
    padding: 5px;
    margin: 10px;
}
td,th{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}
th{
    color:white;
    background-color: #d3d3d3;
}
