<button [routerLink]="['/make_a_new_restaurant']">Add a Restaurant</button>
<table>
  <tr>
    <th>Restaurant</th>
    <th>Cuisine</th> 
    <th>Action avalable</th>
  </tr>
  <tr *ngFor= "let x of list" id="{{x['id']}}">
    <td><p>{{x['restaurant']}}</p></td>
    <td>{{x['cuisine']}}</td>
    <td>
        <button [routerLink]="['/review/' + x['_id']]">Read review</button>
        <button [routerLink]="['/edit/' + x['_id']]">Update</button> 
      <button (click)="destroy(x['_id'])">Delete</button>
    </td>
  </tr>
</table>